/* Add CSS Styling */

.odd {
  background-color: lightpink;
  font-family: Veradana, "DejaVu Sans", sans-serif;
}
.second {
  color: blue;
  font-size: 36px;
}
.fourth {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}
#third {
  font-size: 24px;
}
