/* Add CSS Styling */

.clckme,
.noclckme {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

.clckme {
  background-color: black;
  color: white;
}

.noclckme {
  background-color: yellow;
}
